services:
  pyspark-app:
    build: .
    container_name: legion_emulator_cdc
    ports:
      - "8888:8888"
      - "4040:4040"
    volumes:
      - ./notebooks:/home/jovyan/work/notebooks
      - ./data:/home/jovyan/work/data
      - ./src:/home/jovyan/work/src
      - ./config:/home/jovyan/work/config
      - ./logs:/home/jovyan/work/logs
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - GRANT_SUDO=yes
      - SPARK_WORKER_MEMORY=4g
      - SPARK_DRIVER_MEMORY=4g
      - SQL_SERVER_HOST=192.168.1.65
      - SQL_SERVER_PORT=1433
      - SQL_SERVER_DATABASE=RetailDB
      - SQL_SERVER_USER=sa
      - SQL_SERVER_PASSWORD=NatiGato123#
    command: start-notebook.sh --NotebookApp.token='' --NotebookApp.password=''
    restart: unless-stopped

